// fonts
@import url('https://fonts.googleapis.com/css?family=Prata|Rubik:300,400,700')

// setting up some variables
$cyan: rgba(223, 253, 255, 1);
$dark-sky-blue: rgba(169, 251, 215, 1);
$pink: rgba(254, 192, 203, 1);
$aquamarine: rgba(176, 198, 206, 1);
$elec-blue: rgba(188, 193, 230, 1);

$bubbles: rgba(228, 253, 255, 1);
$paynes: rgba(84, 113, 129, 1);
$bubble-gum: rgba(254, 203, 212, 1);
$gray-blue: rgba(136, 157, 170, 1);
$soap: rgba(200, 204, 234, 1);
.content
    display: none
.main-wrapper
    width: 100%
    height: 100%

.navbar
    position: absolute
    top: 45px
    left: 100px
    z-index: 3
    @phone
        top: 22px
        left: auto
        right: 60px
.progress-counter
    position: absolute
    top: 150px
    left: 150px
    font-family: 'Rubik'
    span
        float: left
        margin: 20px
li, a
    font-family: 'Rubik'
.nav-bar
    position: absolute
    top: 0
    font-size: 14px
    cursor: pointer
    background-color: blue

.nav-link
    cursor: pointer
    display: inline-block
    margin: 10px
    margin-right: 10px
    border-bottom: 1px solid rgba(40, 40, 40, 0)
    transition: all .2s ease-in-out
    padding-bottom: 5px
    &:hover
        transition: all .2s ease-in-out
        padding-bottom: 2px
        border-bottom: 1px solid rgba(40, 40, 40, 1)
    #nav_home
        left: 100px
    #nav_about
        left: 0px
    
    font-family: 'Rubik'
.item-wrapper
    top: 100px
    left: 100px
    width: calc(100% - 200px)
    height: calc(100% - 200px)
    position: absolute
    overflow: hidden
.item-list
    height: 100%
    white-space: nowrap
.part
    height: 100%
    width: 100%
    display: none
    a
        letter-spacing: 0.12em 
        cursor: pointer
#overview_part
    background-color: $bubbles
    display: inline-flex
#part_a
    background-color: $paynes
    a, p
        color: rgb(230, 230, 230)
#part_b
    background-color: $bubble-gum
#part_c
    background-color: $gray-blue
    a, p
        color: #FFF
#portfolio_part
    background-color: $soap
.item-background-header
    font-size: 50px
    font-family: 'Prata'

.move
    width: 100%
    height: 100%
        
#move-prev
    left: 0

#move-next
    right: 0
.move-op
    position: absolute
    bottom: 0
    width: 100px
    height: 100px
    cursor: pointer
    // background-color: pink
    p
        position: absolute
        left: 50%
        top: 50%
        transform: translate(-50%, -50%)
        font-family: 'Rubik'
.js-tilt
    transform-style: preserve-3d
    height: 100%
    width: 100%
    display: inline-flex
    align-items: center
    justify-content: center
    text-align: center
    flex-direction: row
    a
        transform: translateZ(20px)
    p 
        transform: translateZ(10px)
        font-size: 16px
        position: absolute
        top: 500px