h1 About Me
p.
    I'm a third year UQ student studying my Bachelors in Information Technology. Although 
    I'm primarily a front-end developer, I have experience in Java, Relational Databases, 
    Algorithms &amp; Data Structures, and Project Management Practices (specifically, Scrum and agile).
p.
    Over the course of this semester, I was the Tech Lead and Team Leader of team SHMEL for the course 
    DECO1800: "Design Computing Studio: 1". The nature of my career as a student has been a little 
    jumbled around; of all the "Design Studios", I completed DECO2800 first followed by, DECO3850 then 
    DECO3801, which will be followed by DECO3800 next semester. As a result, this course has allowed me 
    to put my development skills into a practice in a way that I never intended; to teach git, and a handful 
    of other tools to my first and second year team members.