h1 About Me
p.
    I'm a third year UQ student studying my Bachelors in Information Technology. Although 
    I'm primarily a front-end developer, I have experience in Java, Relational Databases, 
    Algorithms &amp; Data Structures, and Project Management Practices (specifically, Scrum and agile).
p.
    Over the course of this semester, I was the Tech Lead and Team Leader of team SHMEL for the course 
    DECO1800: "Design Computing Studio: 1". The nature of my career as a student has been a little 
    jumbled around; of all the "Design Studios", I completed DECO2800 first followed by, DECO3850 then 
    DECO3801, which will be followed by DECO3800 next semester. As a result, this course has allowed me 
    to put my development skills into a practice in a way that I never intended; to teach git, and a handful 
    of other tools to my first and second year team members.
h2 Tech
ul
    li Front-End Languages (HTML, CSS, JS, Jquery)
    li Front End Frameworks: Bootstrap, Angular 2+
    li Back End: Nodejs, Java, SQL, RDBMS
    li Algorithms and Data Structures
    li Web Development tools: Sass, Pug/Jade, Gulp, npm

h2 Design
ul
    li Illustrator Wizard
    li Themes
    li Interfaces
    li Websites (responsive and mobile)
    li App Design
    li Typography and Graphic

h2 Other
ul
    li Scrum Master
    li I make a rad cup of filter coffee (v60 is my weapon of choice)
    li Awesome climber (bouldering mostly)
h2 Podcast I'm listening to right now
a(href="https://tim.blog/podcast/") The Tim Ferriss Show

