h1 Project Overview
p.
    The idea of the project is to use the State Library of Queensland datasets to create an application 
    which uses such data in an interactive and meaningful way. The datasets included Photos of the soldiers 
    in World War One and photographs of various locations in Australia from the years 1914 to 1918. The task 
    was to create an application that would be able to focus, manipulate, connect and present the data such that 
    it wasn't just a few rows and columns. 

p.
    Hence team SHMEL was created. The name was created with the laziest method of team creation known: 
    using the initials of every team member. Using the British Convict Transportation Registers, we embarked 
    on a journey to create an engaging web app ever known to high school aged students: "Convict Lyfe" 
    (later renamed to "Convict Life" for the more tame audience). 

p.
    The Project was divided into three distinct sections A, B and C. Part A involved the exposition of the idea; 
    deciding what approach we'd start off with, who we were aiming at, etc. Part B involved the development of 
    lower fidelity prototypes such as paper prototypes and questionnaires. Finally, Part C was where the meat of the 
    code resided. Coding, debugging and late-night hacking sessions. This all resulted in the final product of 
    Convict Life. 