h1 Portfolio and Other
h2 Main tools
p.
    This portfolio was developed using #[a(href="https://pugjs.org") pug] (previously called Jade) and 
    #[a(href="http://sass-lang.com/") Sass]. Compiled and built with #[a(href="https://gulpjs.com/") gulp].
h2 Libraries
p.
    The effect on the home page uses a library called #[a(href="http://gijsroge.github.io/tilt.js/") tilt.js]. 
h2 Fonts
a(href="https://fonts.google.com/specimen/Rubik")#font-rubik Rubik
br
a(href="https://fonts.google.com/specimen/Prata")#font-prata Prata
br
a(href="https://fonts.google.com/specimen/Yeseva+One")#font-yeseva Yeseva One