h1 Team Formation, Design Pitch and Proposal
h2 Team Formation
p.
    Finding a good team is easy once you realise it's up to you to create a good team. The idea of giving any ounce of trust into 
    strangers to help you with a project can be daunting. It sure was, for this project but the sooner I started trusting them, 
    the sooner we could all start working together. 
h2 The Pitch
p.
    Initially we all had different ideas: "I imagined it would be like this" or "I imagined it would be like that". The thing we agreed on was the 
    dataset we were to use: the #[a(href='') British Convict Transportation register] from the SLQ datasets. Through lengthy 
    discussion, we finally came to two ideas:
h3 The Warden's Dashboard (my idea)
p.
    The short version: An interface showing a visualization of crimes, sentence terms and ships. This straightforward idea had in mind the requirement of using the data. 
    The idea was to be able to sort through every single convict to find convicts, ships or sentences by any given metric for a futuristic warden who had somehow travelled 
    back into the early convict era of Australia. With influences of other interfaces loosely based on marketing analytics and SEO, I wanted something that would look cool 
    and was completely functional. 
h3 A Day in the Life of a Convict(the other idea)
p The aim of which was to give users the chance to view two different sides of the convict era: the convicts and the Indigenonus Australians