h1 Part B: Prototyping, Testing and MVP
h2 Prototyping
p.
    Prototyping involved using various different kinds of tools. Most importantly: mocking up.
    Being well versed in tools such as Illustrator, Marvel and Invision, I thought it would be a 
    fantastic idea to use these apps to run a prototyping session to evaluate the intuition of a design. 
    Given that it was a paper prototype-specific session, we decided it best to leave out mockups 
    for the report and progress presentation.

p.
    But just because I like them, here are the mockups I designed further from the year selection:

.image-div
    h3 Application Landing page
    img(src="imgs/home.png", alt="")
    h3 Vessel Selection
    img(src="imgs/vessels.png", alt="")
    h3 Year Selection
    img(src="imgs/year-select.png", alt="")
    h3 Convict Selection
    img(src="imgs/convict-select.png", alt="")

p.
    The prototypes ended up looking great. We put a great amount of effort into 
    creating them and meticulously cutting out each icon and diagram. Some test participants 
    were a little harder to work with than others. Critique was well received, however, despite 
    there being some conflicting feedback. One problem that we encountered as a team was that 
    the feedback given to us didn't really take into account the fact that it was an MVP, designed to 
    test the minimum viable functionality for the product. The majority of the feedback was found to be related 
    to the appearance of the application. In future, this might be something that we should make clearer 
    before asking for feedback. 

h2 Process Reflection
p.
    This was one of the most smooth sailing parts of the project. Everything was done to spec. 
    Honestly, one of the most smooth prototypes I've done. 