h1 Part A: Team Formation, Design Pitch and Proposal
h2 Team Formation
p.
    Finding a good team is easy once you realise it's up to you to create a good team. The idea of giving any ounce of trust into 
    strangers to help you with a project can be daunting. It sure was, for this project but the sooner I started trusting them, 
    the sooner we could all start working together. 
h2 The Pitch
p.
    Initially we all had different ideas: "I imagined it would be like this" or "I imagined it would be like that". The thing we agreed on was the 
    dataset we were to use: the #[a(href='https://data.gov.au/dataset/british-convict-transportation-registers') British Convict Transportation register] from the SLQ datasets. Through lengthy 
    discussion, we finally came to two ideas:
h3 The Warden's Dashboard (my idea)
p.
    The short version: An interface showing a visualization of crimes, sentence terms and ships. This straightforward idea had in mind the requirement of using the data. 
    The idea was to be able to sort through every single convict to find convicts, ships or sentences by any given metric for a futuristic warden who had somehow travelled 
    back into the early convict era of Australia. With influences of other interfaces loosely based on marketing analytics and SEO, I wanted something that would look cool 
    and was completely functional.

p A quick mockup produced this (which was later used anyway)
.image-div
    img(src="imgs/year-select.png", alt="")

h3 A Day in the Life of a Convict (the other idea)
p.
    The aim of which was to give users the chance to view two different sides of the convict era: the convicts and the Indigenonus Australians. 
    As we further developed the idea, it was clear that it didn't use the data set thoroughly enough. As a result, it was discarded, 
    but only partially. 

h3 Convict Life (what we finally agreed on)
p.
    Convict Life allows students to see a convict colony from the eyes of a convict. 
    It uses the slq dataset to select the years that a ship that arrived to Australia with convicts 
    and allows the user to select a convict. The aim of the game is to "escape the convict life". Each convict 
    chosen has a sentence that they need to serve. This is parsed and used as the user's progress. To "escape", the 
    user needs to answer all the correct answers from the quiz. 

h2 Process Reflection
p.
    We spent a few weeks trying to decide which which idea we'd run with. This proved to be a 
    really trying experience because team member A was emotionally attached to an idea but it didn't 
    meet spec. The poster/pitch didn't go as amazingly as we would've expected since we spent so much time 
    deciding what it was that we'd do. In hindsight, I'm glad we thrashed at the beginning. Really ironing out 
    exactly what we wanted at the start was a good idea but if we could have done it more efficiently 
    (which I know we could have) then we would have more time for the pitch. For future reference, 
    do the poster digitially, it's not arts and crafts. That's the next part. Paper prototyping. 