.main#a_content
    include content/process_a.pug
    .pagin
        .prevpage
            .next back
            .title Project Overview
        .nextpage
            .next next
            .title Part B