.main#c_content
    include content/process_c.pug
    .pagin
        .prevpage
            .next back
            .title Part B
        .nextpage
            .next next
            .title Portfolio Overview