.content
    .back-to-home
        .navbar
            .nav-elem-wrap
                a(href="index.html").nav-link Home
    include about_content.pug
    include overview_content.pug
    include a_content.pug
    include b_content.pug
    include c_content.pug
    include portfolio_content.pug