<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="styles/main.css")
        link(rel="stylesheet", href="styles/user.css")
        script(src="https://code.jquery.com/jquery-3.2.1.min.js")
        script(src="js/pagin.js")
        script(src="js/content-pagin.js")
        title Edwwward Liao Portfolio
    body
        .whole-wrap
            .content
            .home-wrap
                nav.navbar
                    .nav-elem-wrap#nav-project.nav-link
                        a(href="/") Home
                    .nav-elem-wrap#nav-portfolio.nav-link
                        a About
                .main-wrapper
                    .item-wrapper
                        ul.item-list
                            li.part#overview_part
                                a.item-background-container
                                    h2.item-background-header Project Overview
                            li.part#part_a
                                a.item-background-container
                                    h2.item-background-header Part A
                            li.part#part_b
                                a.item-background-container
                                    h2.item-background-header Part B
                            li.part#part_c 
                                a.item-background-container
                                    h2.item-background-header Part C
                            li.part#portfolio_part
                                a.item-background-container
                                    h2.item-background-header Portfolio/Other

                .move
                    #move-prev.move-op 
                        p.move-prev-p Prev
                    #move-next.move-op 
                        p.move-next-p Next
                .footer