<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="styles/main.css")
        link(rel="stylesheet", href="styles/user.css")
        link(rel="stylesheet", href="styles/content-pagin.css")
        link(rel="stylesheet", href="styles/animations.css")
        script(src="https://code.jquery.com/jquery-3.2.1.min.js")
        script(src="js/jquery.color.min.js")
        script(src="js/pagin.js")
        script(src="js/content-pagin.js")
        script(src="js/tilt.jquery.min.js")
        title Edwwward Liao Portfolio
    body
        .whole-wrap
            include content.pug
            .home-wrap
                nav.navbar
                    .nav-elem-wrap#nav_home
                        a(href="index.html").nav-link Home
                    .nav-elem-wrap#nav_about
                        a.nav-link About
                .main-wrapper
                    .item-wrapper
                        ul.item-list
                            li.part#overview_part
                                .js-tilt(data-tilt="")
                                    a.item-background-container
                                        h2.item-background-header Project Overview
                                    p An Overview of the Convict Life Project
                            li.part#part_a
                                .js-tilt(data-tilt="")
                                    a.item-background-container
                                        h2.item-background-header Part A
                                    p Team Formation, Design Pitch and Proposal
                            li.part#part_b
                                .js-tilt(data-tilt="")
                                    a.item-background-container
                                        h2.item-background-header Part B
                                    p User Testing, MVP and Feedback
                            li.part#part_c
                                .js-tilt(data-tilt="")
                                    a.item-background-container
                                        h2.item-background-header Part C
                                    p Final Build and Exhibition
                            li.part#portfolio_part
                                .js-tilt(data-tilt="")
                                    a.item-background-container
                                        h2.item-background-header Portfolio/Other
                                    p Process of making this portfolio and other notes

                .move
                    #move-prev.move-op 
                        p.move-prev-p Prev
                    #move-next.move-op 
                        p.move-next-p Next
                .footer